body {
    background-color: #f3f3f3;
}

.user-dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    top: 100%;
    left: 0;
    transform: translateX(-50%);
    text-align: center;
    min-width: 120px;
}

.user-dropdown-menu.show {
    opacity: 1;
    visibility: visible;
}

.user-dropdown-menu .dropdown-item {
    text-align: center;
    padding: 8px 15px;
}

.dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
}